<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<mapping class="com.musala.atmosphere.models.Android" />
		<mapping class="com.musala.atmosphere.models.PhoneManufacturer" />
		<mapping class="com.musala.atmosphere.models.PhoneModel" />
		<mapping class="com.musala.atmosphere.models.PhoneModelNumber" />
		<mapping class="com.musala.atmosphere.models.Report" />
	</session-factory>
</hibernate-configuration>